.table th{
    padding: 4px 30px 4px 8px;
    color:rgb(2, 3, 3);
    background-color: #ddebf1;
}

.table td{
    border: 1px solid #000c06;
    padding: 4px 8px;
}

.table tr: nth-child(odd)td{
    background-color: #e7edf0;
    
}

table {
    border-collapse: collapse;
    position: absolute;
    left: 400px;
    font-size: 30px;
    table-layout: portrait;
    
}